# Static files
staticfiles/

# Node modules (React)
node_modules/

# static files
staticfiles/

# Build directory (React)
build/

# Django-related files
__pycache__/
*.pyc
db.sqlite3

# Environment
.env

# Log files
*.log

# Django migrations
migrations/

# System files
.DS_Store
Thumbs.db


# React test files
*.test.js


